
header {
  margin-bottom: 20px;
}

footer {
  /* background-color: #333333;
  box-shadow: 0px 500px 0px 500px #333333; */
}

/*
.panel {
  color: #DDDDDD;
  background-color: #555555;
  border-color: #111111;
}

.panel a {
  color: #DDDDDD;
}


.panel > .panel-heading {
  color: #DDDDDD;
  background-color: #333333;
  border-color: #111111;
} */

.code {
  font-family: monospace;
}

.bg-terminal {
  background-color: #333333;
}

.jumbotron {
  padding-top: 16px;
  padding-bottom: 16px;
}

.my-4 {
  margin-top: 12px;
  margin-bottom: 12px;
}
