
header {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer {
  /* background-color: #333333;
  box-shadow: 0px 500px 0px 500px #333333; */
}

/*
.panel {
  color: #DDDDDD;
  background-color: #555555;
  border-color: #111111;
}

.panel a {
  color: #DDDDDD;
}


.panel > .panel-heading {
  color: #DDDDDD;
  background-color: #333333;
  border-color: #111111;
} */
